<h1>Edit Product</h1>

<div class="small-12 small-centered text-center edit-image">
  <%= image_tag @product.image_url(:thumb) %>
</div>

<%= form_for @product, :html => {:multipart => true} do |f| %>
    <%= f.text_field :name %>

    <%= f.text_field :base_cost, data: {autonumeric: {aSign: '$ ', mDec: 2}, placeholder: "Base price..."}  %>

    <%= f.text_field  :duplicate_cost, data: {autonumeric: {aSign: '$ ', mDec: 2}, placeholder: "Base price..."}  %>

    <%= f.file_field :image  %>

    <%= f.submit  %>
<% end %>
