<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render 'layouts/topbar' %>

    <!-- <div class="row"> -->
    <!--   <div class="small&#45;12"> -->
    <!--     <div class="text&#45;center"> -->
    <!--       <%= link_to root_path do  %> -->
    <!--         <%= image_tag 'Coloredge_composer_logo.png', id: "site&#45;logo"  %> -->
    <!--     <% end  %> -->
    <!--     </div> -->
    <!--   </div> -->
    <!-- </div> -->


    <div class="flashes small-12 medium-5 large-3 small-centered columns">
      <% flash.each do |key, value| %>
        <div data-alert class="alert-box <%= key  %> radius">
          <%= value  %>
        <a href="#" class="close">&times;</a>
        </div>
    <% end %>

    </div>

    </div>
    <div class="row">
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>


  </body>
</html>
